.p-conteudo {
	padding-top:80px;
	padding-bottom:80px;
	display:flex;
	flex-direction:column;
	gap:40px; }

.p-cabecalho {
	display:flex;
	align-items:center;
	justify-content:space-between; }

.p-cabecalho__subtitulo {
	margin-top:10px; }

.p-estrutura {
	display:grid;
	grid-template-areas:
		"lateral" 
		"principal"; }

.p-estrutura__principal {
	margin-top:60px;
	display:flex;
	flex-direction:column;
	gap:20px;
	grid-area:principal; }

.p-estrutura__lateral {
	grid-area:lateral; }


@media (min-width:960px) {
	.p-estrutura {
		grid-template-areas:
			"lateral principal";
		grid-template-columns:260px 1fr;
		gap:60px; }

	.p-estrutura__principal {
		margin:0; }
		
	.p-mobile {
		display:none; }
}


/* ---- Aviso ---- */


.p-aviso {
	width:100%;
	padding:20px;
	display:none;
	flex-direction:column;
	gap:10px;
	background:var(--degrade-miv);
	border-radius:var(--raio); }

.p-aviso.ativo {
	display:flex; }


/* ---- Lista de produtos ---- */


.p-resultados {
	display:grid;
	grid-template-columns:1fr;
	gap:20px;
	background-color:var(--hex-cinza-2); }

@media (min-width:480px) {
	.p-resultados {
		grid-template-columns:repeat(2, calc((100% - 20px) / 2)); }
}


@media (min-width:720px) {
	.p-resultados {
		grid-template-columns:repeat(3, calc((100% - 40px) / 3)); }
}


.p-produto {
	height:100%;
	padding:20px;
	display:flex;
	align-items:center;
	gap:20px;
	background-color:var(--hex-miv-branco);
	border-radius:var(--raio); }
 
.p-produto__imagem {
	width:80px;
	flex-shrink:0;
	aspect-ratio:1/1;
	overflow:hidden;
	border-radius:var(--raio); }

.p-produto__conteudo {
	width:100%;
	display:flex;
	flex-direction:column;
	gap:10px; }

.p-produto__titulo, .p-produto__marca {
	font-size:12px;
	line-height:16px; }

@media (min-width:480px) {
	.p-produto {
		flex-direction:column;
		gap:40px; }

	.p-produto__imagem {
		width:100%; }

	.p-produto__titulo, .p-produto__marca {
		font-size:14px;
		line-height:20px; }
}


/* ---- Paginação ---- */


.p-paginacao {
	width:100%;
	display:none;
	background-color:var(--hex-miv-branco);
	border-radius:var(--raio); }

.p-paginacao.ativo {
	display:block;  }


.p-paginacao__envelope {
	padding:10px;
	display:flex;
	align-items:center;
	justify-content:space-between; }


.p-paginacao__botao {
	cursor:default;
	opacity:var(--hover-opacity); }

.p-paginacao__botao .c-botao__icone {
	--tamanho-mi:20px; }

.p-paginacao__botao.ativo {
	cursor:pointer;
	opacity:1; }


.p-paginacao__label {
	display:flex;
	align-items:center;
	justify-content:space-between;
	gap:10px; }

.p-paginacao__input {
	width:40px;
	height:40px;
	padding:10px;
	border:1px solid var(--rgba-sombra-1);
	color:var(--rgba-preto-3);
	font-size:14px;
	line-height:20px;
	text-align:center;
	background-color:var(--hex-cinza-3);
	border-radius:5px; }


.p-paginacao__texto {
	color:var(--rgba-preto-3);
	font-size:14px;
	line-height:20px; }

.p-paginacao__texto--pagina {
	display:none; }


@media (min-width:400px) {
	.p-paginacao__texto {
		width:60px; }

	.p-paginacao__texto--pagina {
		display:inline-block;
		text-align:right; }
}


/* ---- Filtros ---- */


.p-filtro {
	margin-top:40px;
	display:none;
	flex-direction:column;
	overflow:hidden;
	border-radius:var(--raio); }

.p-filtro.ativo {
	display:flex; }

.p-filtro__cabecalho {
	padding:12px 20px;
	background-color:var(--degrade-miv); }

.p-filtro__titulo {
	color:var(--hex-miv-branco);
	font-size:16px;
	font-weight:bold;
	line-height:24px; }


.p-filtro .c-form {
	gap:0;
	background:var(--hex-miv-ciano-2); }
	
.p-filtro__pesquisa {
	width:100%;
	padding:20px;
	display:flex;
	align-items:flex-end;
	gap:8px;
	border-bottom:1px solid var(--hex-miv-preto); }

.p-filtro__pesquisa__botao {
	width:36px;
	min-width:36px;
	height:36px;
	min-height:36px;
	padding:8px;
}

.p-filtro__pesquisa .c-form__etiqueta {
	display:block; }

.p-filtro__pesquisa .c-form__input { 
	min-height:36px;
	padding:5px 10px; }


.p-filtro .c-form__etiqueta {
	display:none; }

.p-filtro .c-form__check {
	padding:10px 20px;
	border:0;
	border-radius:0;
	background:0; }

.p-filtro .c-form__check__item {
	padding:10px 0;
	align-items:center; }

.p-filtro .c-form__check__texto {
	color:var(--rgba-branco-1);
	font-size:14px;
	font-weight:bold;
	line-height:20px; }

.p-filtro .c-form__check__icone::before {
	color:var(--rgba-branco-2); }

.p-filtro [type=radio]:checked+.c-form__check__icone::before {
	content:"task_alt"; }



.p-filtro.a-loader {
	opacity:var(--alfa-branco-3); }

.p-filtro.a-loader::after {
	display:none; }


@media (min-width:960px) {
	.p-filtro {
		display:flex; }
}