
/* ---- Blocos ---- */


.l-bloco + .l-bloco {
	padding-top:60px; }

.l-bloco + .l-bloco--botao,
.l-bloco--titulo + .l-bloco {
	padding-top:30px; }


.l-bloco--form {
	padding-top:59px;
	border-top:1px solid var(--rgba-sombra-1);
	margin-top:60px; }


/* ---- Conteúdo ---- */


.l-conteudo {
	padding-top:80px;
	padding-bottom:80px; }


.l-secao + .l-secao {
	padding-top:80px; }


.l-envelope {
	width:100%;
	max-width:1340px;
	padding-right:20px;
	padding-left:20px;
	margin:0 auto; }


@media (min-width:720px) {
	.l-envelope {
		padding-right:40px;
		padding-left:40px; }
}


/* ---- Estrutura ---- */


.l-estrutura {
	display:flex;
	flex-direction:column;
	gap:80px 40px; }


@media (min-width:960px) {
	.l-estrutura {
		flex-direction:row;
		flex-wrap:wrap; }

	.l-estrutura--i {
		flex-direction:row-reverse; }


	.l-estrutura__total {
		width:100%;
		flex-shrink:0; }

	.l-estrutura__principal {
		width:calc(100% - 320px); }

	.l-estrutura__lateral {
		width:280px;
		flex-shrink:0; }
}

@media (min-width:1280px) {
	.l-estrutura {
		gap:30px 80px; }

	.l-estrutura__principal {
		width:calc(100% - 460px); }

	.l-estrutura__lateral {
		width:380px; }
}


/* ---- Cabeçalho ---- */


.l-cabecalho {
	display:flex;
	align-items:center;
	justify-content:space-between;
	gap:20px; }


.l-cabecalho__botao {
	flex-shrink:0; }


/* ---- isDesign.com.br ---- */
